<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>InterCore</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<header class="site-header">

    <div class="header-wrap">
        <a class="logo" href="#0">
            <img alt="Логотип сайта" src="/images/head.jpg" width="60" height="60">
        </a>

        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-item">
                    <a class="menu-link" href="member">Member</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="teammate">Teammate</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="register">Create user</a>
                </li>
            </ul>
        </nav>
    </div>


    <h1 class="site-title">Киберспорт РУДН “InterCore” | ССК "Дружба"</h1>
</header>
<body>
<h1>Welcome to InterCore</h1>
<link rel="shortcut icon" type="images/png" th:href="@{/images/favicon.png}"/>
</body>
</html>